@page "{id:int}"
@model TestManagement.Pages.TestCases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of test case.</h1>

<div>
    <h4>TestCase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCase.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCase.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCase.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCase.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCase.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCase.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCase.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCase.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestCase.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestCase.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TestCase.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<hr />

<h4>TestRun History</h4>

@if (Model.TestCase.TestRuns != null && Model.TestCase.TestRuns.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TestCase.TestRuns.ElementAt(0).ExecutedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestCase.TestRuns.ElementAt(0).Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestCase.TestRuns.ElementAt(0).Remarks)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.TestCase.TestRuns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExecutedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <a asp-page="/TestRuns/Details" asp-route-id="@item.Id">詳細</a>
                </td>
                </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No test run history available.</p>
}

<p>
    <a asp-page="/TestRuns/Create" asp-route-testCaseId="@Model.TestCase.Id" class="btn btn-success">
        Add New TestRun
    </a>
</p>