@page
@model TestManagement.APP.Pages.Executions.IndexModel
@{
}

<h1>Executions</h1>

@if (Model.Executions == null || !Model.Executions.Any())
{
    <p>No executions found.</p>
}
else
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center;">Id</th>
                    <th style="text-align:center;">Executed At (UTC)</th>
                    <th style="text-align:center;">Environment</th>
                    <th style="text-align:center;">Revision</th>
                    <th style="text-align:center;">Passed</th>
                    <th style="text-align:center;">Error</th>
                    <th style="text-align:center;">Skipped</th>
                    <th style="text-align:center;">Excluded</th>
                    <th style="text-align:center;">Executed</th>
                    <th style="text-align:center;">Success (%)</th>
                    <th style="text-align:center;">Failed (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var execution in Model.Executions)
                {
                    <tr>
                        <td style="text-align:right;">@execution.TestExecutionId</td>
                        <td style="text-align:left;">@execution.ExecutedAt.ToString("u")</td>
                        <td style="text-align:left;">@execution.Environment</td>
                        <td style="text-align:left;">@execution.Revision</td>
                        <td style="text-align:right;">@execution.PassedNum</td>
                        <td style="text-align:right;">@execution.ErrorNum</td>
                        <td style="text-align:right;">@execution.SkippedNum</td>
                        <td style="text-align:right;">@execution.ExcludedNum</td>
                        <td style="text-align:right;">@execution.ExecutedNum</td>
                        <td style="text-align:right;">@execution.SuccessRate</td>
                        <td style="text-align:right;">@execution.FailedRate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div class="mt-3">
    <a asp-page="./Create" class="btn btn-primary">New Execution</a>
</div>
